/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-black;
  background-color: $base-white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
