/* здесь используйте глобальные переменные */

/* размер экрана */
$tablet: 768px;
$desktop: 1440px;
$mobile-only: 767px;

/* шрифты */
$primary-font: "Lato", sans-serif;
$second-font: "Oswald", sans-serif;

/* цвета */
$base-white: #ffffff;
$base-black: #000000;
$base-secondary:#f0ebff;
$base-green: #68B738;
