/* здесь используйте глобальные переменные */

/* размер экрана */
$tablet: 768px;
$desktop: 1440px;
$mobile-only: 767px;

/* шрифты */
$primary-font: "Lato", sans-serif;
$second-font: "Oswald", sans-serif;

/* основные цвета */
$base-white: #ffffff;
$base-black: #000000;
$base-black-1: #666666;
$base-secondary: #f0ebff;
$base-green: #68b738;
$base-green-2: #5eaa2f;
$base-grey: #f2f2f2;

/* фоны */
$base-background: #eaeaea;

/* бордюр */
$base-border: #cdcdcd;
