/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixin.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/promo.scss";
@import "./blocks/content.scss";
@import "./blocks/program.scss";
@import "./blocks/application.scss";
@import "./blocks/step-list.scss";
@import "./blocks/example.scss";
@import "./blocks/statistic.scss";
@import "./blocks/slider.scss";
