.application {
  padding: 0 20px;
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    padding: 0 30px 47px;
    margin-top: 45px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop) {
    padding: 29px 110px 69px;
    border-bottom: 0;
  }

  &__title {
    @include heading-2;
    line-height: 40px;
    margin-bottom: 39px;

    @media (min-width: $tablet) {
      @include heading-1;
      margin-bottom: 32px;
    }
  }
}
