.content {
  text-align: center;
  color: $base-white;

  &__title {
    @include heading-1;
    max-width: 252px;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  &__text {
    display: block;
    margin-bottom: 29px;
    font-family: $second-font;
    line-height: 14px;
    text-transform: uppercase;
  }
}
