.content {
  position: relative;
  text-align: center;
  color: $base-white;

  @media (min-width: $tablet) {
    color: $base-black;
    text-align: left;
    padding-top: 28px;
    padding-left: 120px;
    padding-bottom: 2px;
  }

  &__title {
    @include heading-2;
    max-width: 252px;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      @include heading-1;
      max-width: 430px;
      text-align: left;
      margin-bottom: 38px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 29px;
    font-family: $second-font;
    line-height: 14px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 75px;
    padding-left: 190px;
  }
}
