.content {
  //position: relative;
  text-align: center;
  color: $base-white;
  min-width: 280px;

  @media (min-width: $tablet) {
    color: $base-black;
    text-align: left;
    padding-top: 28px;
    padding-left: 120px;
    padding-bottom: 2px;
    z-index: 1;
  }

  &__title {
    @include heading-2;
    max-width: 252px;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      @include heading-1;
      max-width: 430px;
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 29px;
    font-family: $second-font;
    line-height: 14px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 51px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 75px;
    padding-left: 190px;
  }

  &__button {
    @include button;
    width: 280px;
    position: absolute;
    padding: 10px 15px;
    text-align: center;
    bottom: 0;
    top: auto;
    left: auto;

    &:hover {
      background-color: $base-green-2;
    }

    &:disabled {
      background-color: $base-green-2;
      opacity: 30%;
    }

    @media (min-width: $tablet) {
      max-width: 240px;
      position: static;
      font-size: 20px;
      line-height: 26px;
      padding: 14px 0;
    }
  }
}
