.example {
  padding: 25px 20px 20px;
  background-color: $base-background;

  @media (min-width: $tablet) {
    padding: 0 30px;
    background-image: linear-gradient($base-white 59%, $base-background 59%);
    padding-bottom: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
    background-image: linear-gradient($base-white 25%, $base-background 25%);
  }

  &__container {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }


  &__title {
    @include heading-2;
    line-height: 40px;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      @include heading-1;
      margin-bottom: 60px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 146px;
    }
  }

  &__text {
    color: $base-grey-2;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 55px;
    }

    @media (min-width: $desktop) {
      max-width: 432px;
    }
  }
}
