.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $base-white;

  &__logo {
    display: flex;
    align-items: center;
    gap: 56px;
    padding: 13px 20px 9px;

    @media (min-width: $tablet) {
      gap: 13px;
      padding: 0;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 17px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    padding-left: 110px;
    padding-right: 93px;
    background-color: transparent;
  }
}

.header__logo:hover {
  opacity: 70%;
}
