.main-nav {
  margin: 0;
  padding: 0;

  // если класс .main-nav--closed меню закрыто
  &--closed .site-list {
    @media (max-width: $mobile-only) {
      display: none;
    }
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 19;
    right: 17;
    background-color: $base-white;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    &:active {
      background-color: $base-secondary;
    }
  }

  // состояние кнопки при закрытом меню(показываем решотку)
  &--closed .main-nav__toggle {
    background-image: url("../../icons/stack.svg#buger");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    margin-right: 4px;
    margin-top: 1px;
  }

  // состояние кнопки при открытом меню(показываем крестик)
  &--opened .main-nav__toggle {
    background-image: url("../../icons/stack.svg#cross");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
  }
}

// при нерабочем JS отключаем изображение кнопки
.main-nav--nojs .main-nav__toggle {
  display: none;
}
// при нерабочем JS открываем(показываем) меню
.main-nav--nojs .site-list {
  display: block;
}
