.main-nav {
  margin: 0;
  padding: 0;

  &__toggle {
    position: absolute;
    top: 19;
    right: 17;
    background-color: $base-white;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
  }

  // состояние кнопки при закрытом меню(показываем решотку)
  &--closed .main-nav__toggle::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    right: 4px;
    mask-image: url("../../icons/stack.svg#buger");
    background-color: $base-black;
  }

  // состояние кнопки при открытом меню(показываем крестик)
  &--opened .main-nav__toggle::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    right: 3px;
    mask-image: url("../../icons/stack.svg#cross");
    background-color: $base-black;
  }
}
