.program {
  padding: 20px;

  @media (min-width: $tablet) {
    margin-top: 530px;
    padding: 0 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 19px;

    @media (min-width: $tablet) {
      row-gap: 31px;
    }
  }

  &__item {
    position: relative;
    min-width: 280px;
    min-height: 266px;
    padding: 20px;
    background-color: $base-grey;

    @media (min-width: $tablet) {
      padding: 77px 0 57px 53px;
      min-height: 372px;
    }
  }

  &__item::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $base-green;
    border-radius: 50%;
    top: 24px;
    left: 20px;

    @media (min-width: $tablet) {
      width: 200px;
      height: 200px;
      top: 90px;
      right: 63px;
      left: auto;
    }
  }

  &__item--cat-slim::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");
    top: 21px;
    left: 27px;

    @media (min-width: $tablet) {
      width: 140px;
      height: 194px;
      top: 80px;
      right: 93px;
      left: auto;
    }
  }

  &__item--cat-pro::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro");
    top: 35px;
    left: 13px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 112px;
      top: 133px;
      right: 26px;
      left: auto;
    }
  }

  &__title {
    max-width: 140px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 29px;

    @media (min-width: $tablet) {
      @include heading-2;
      margin-bottom: 24px;
      max-width: 210px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 22px;

    @media (min-width: $tablet) {
      max-width: 340px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 55px;
    }
  }

  &__border {
    min-width: 240px;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 18px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__link {
    position: relative;
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $base-black;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 100%;
    }
  }

  &__link::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow");
    top: 7px;
    left: 101px;
    transform-origin: left;

    @media (min-width: $tablet) {
      top: 10px;
      left: 130px;
    }
  }

  &__link:hover::before {
    transform: scaleX(1.35);
  }

  &__link:active::before {
    opacity: 0.3;
  }
}
