.program {
  padding: 20px;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
  }

  &__item {
    position: relative;
    min-width: 280px;
    min-height: 266px;
    padding: 20px;
    background-color: $base-grey;

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      background-color: $base-green;
      border-radius: 50%;
      top: 24;
      left: 20;
    }
  }

  &__title {
    max-width: 140px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 10px auto 29px 90px;
  }

  &__text {
    margin: 0;
    margin-bottom: 23px;
  }

  &__border {
    min-width: 240px;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 15px;
  }

  &__link {
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $base-black;
  }
}
