.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  @media (min-width: $tablet) {
    align-items: normal;
  }

  &__img {
    @media (min-width: $tablet) {
      margin-left: 30px;
      margin-top: -10px;
    }

    @media (min-width: $desktop) {
      margin-left: -63px;
      margin-top: -5px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    z-index: -2;
    display: block;
    width: 100%;
    height: 302px;
    background-image: url("../../images/mobile-cat@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/mobile-cat@2x.jpg");
      background-size: 100% 100%;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    position: static;
    flex-direction: row;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 720px;
      right: 0;
      z-index: -1;
      height: 693px;
      background-image: url("../../images/desktop-cat@1x.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__button {
    @include button;
    width: 280px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 3px;

    &:hover {
      background-color: $base-green-2;
    }

    &:disabled {
      background-color: $base-green-2;
      opacity: 30%;
    }

    @media (min-width: $tablet) {
      max-width: 240px;
      margin-top: -584px;
      margin-left: 120px;
      font-size: 20px;
      line-height: 26px;
      box-sizing: border-box;
      padding: 14px;
    }

    @media (min-width: $desktop) {
      position: absolute;
      left: 70px;
      bottom: 136px;
      max-width: 244px;
    }
  }
}
