.site-list {
  position: absolute;
  min-width: 100%;
  border-bottom: 1px solid #e6e6e6;
  background-color: $base-white;
  z-index: 1;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: none;
    max-width: 520px;
    position: static;
  }

  &__item {
    border-top: 1px solid #e6e6e6;

    @media (min-width: $tablet) {
      border-top: none;
      padding: 0 17px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    font-family: $second-font;
    font-size: 20px;
    line-height: 20px;
    color: $base-black;
    padding: 22px 0 23px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: 24px;
      padding: 20px 0;
    }

    @media (min-width: $desktop) {
      font-size: 20px;
      color: $base-white;
    }
  }

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.site-list__link--active {
  @media (min-width: $tablet) {
    padding-bottom: 7px;
    border-bottom: 2px solid $base-green;
  }

  @media (min-width: $desktop) {
    border-bottom: 2px solid $base-white;
  }
}

.site-list__link:hover {
  opacity: 50%;
}

