.slider {
  position: relative;

  @media (min-width: $tablet) {
    max-width: 560px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }

  &__left-shift {
    position: absolute;
    width: 50%;
    height: 98.5%;
    overflow: hidden;
  }

  &__left-shift img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    background-color: $base-background;


    @media (min-width: $tablet) {
      background-image: linear-gradient(to top, $base-background 359px, $base-white 359px);
    }

    @media (min-width: $desktop) {
      background-image: linear-gradient(to top, $base-background 405px, $base-white 405px);
    }
  }

  &__right-shift img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    padding-top: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid $base-black-1;
    background-color: $base-white;
    left: 50%;
    top: 49.2%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    color: $base-black-1;
  }

  &__bar {
    position: absolute;
    width: 4px;
    height: 98.5%;
    border-radius: 2px;
    background-color: $base-black-1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
}

.slider__button:hover {
  border-color: $base-green;
  color: $base-green;
}

.slider__button:hover + .slider__bar {
  background-color: $base-green;
}

.slider__button:active {
  border-color: $base-green-2;
  color: $base-green-2;
  opacity: 0.6;
}

.slider__button:active + .slider__bar {
  background-color: $base-green-2;
  opacity: 0.6;
}
