.statistic {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 99px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 35px;

    @media (min-width: $tablet) {
      gap: 43px;
      margin: 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: 124px;
    min-height: 56px;
    border: 1px solid $base-border;
    border-radius: 3px;

    @media (min-width: $tablet) {
      min-width: 162px;
      min-height: 77px;
    }
  }

  &__number {
    font-family: $second-font;
    font-size: 23px;
    line-height: 24px;
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.02em; // растягивает текст

    @media (min-width: $tablet) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 10px;
    }
  }

  &__description {
    display: block;
    position: absolute;
    font-size: 12px;
    line-height: 100%;
    background-color: $base-background;
    top: 45px;
    max-width: 80px;
    left: 20;
    right: 20;

    @media (min-width: $tablet) {
      font-size: 14px;
      line-height: 14px;
      background-color: $base-white;
      min-width: 135px;
      top: 63;
      left: 13px;
    }
  }

  &__summary {
    text-align: center;
    font-family: $second-font;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.01em; // растягивает текст

    & span {
      margin-left: 2px;
    }

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }
}
